*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:rgba(255, 255, 255, 0.336);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
ol{
    background:rgba(20, 20, 20, .7);
    padding:7px;
    position: sticky;
}
span{
    justify-content: space-between;
    margin: 20px;
}
span>a{
    color: whitesmoke;
    text-decoration: none;
}
span:hover{
    cursor: pointer;
    background-color: red;
    padding: 7px;
}
.right{
    margin-left: 20px;
}
.card{
    position:static;
    border: 1px solid transparent;
    width: 200px;
    height: 330px;
    float: left;
    margin:20px 20px 0 20px;
    background-color:lightgrey;
}
.card>img{
    width:200px;
    height: 200px;
}
#submit{
    position: relative;
    border: 6px;
    padding: 3px;
    cursor: pointer;

}
/*  Watches CSS Properties */
.watch{
    position:static;
    border: 1px solid transparent;
    width: 160px;
    height: 330px;
    float: left;
    margin:20px 20px 20 20px;
    background-color:lightgrey;
    background-image: url(watches.png);
}
.text{
    position: relative;
    top: 60%;
    height: 140px;
    background-color:gray;
}
.watch1{
   background-position: 0 0;
}
.watch2{
    background-position: -160px 0;
}
.watch3{
    background-position: -317px 0px;
}
.watch4{
    background-position: -507px 0;
}
.watch5{
    background-position: 387px 0;
}
.watch6{
    background-position: 179px 0;
}
.watch7{
    background-position: 0 -235px;
}
.watch8{
    background-position: -182px -235px;

}
.watch9{
    background-position: -349px -235px;
}
.watch10{
    background-position: -501px -235px;
}
.watch11{
    background-position: -677px -235px;
}
.watch12{
    background-position: 205px -235px;
}